.social-icons{
  text-align: center;

  &__icon{
    background-color: $mainOrange;
    /*this makes our sprite to tis inline and be able to change it size*/
    display: inline-block;
    margin: 0 5px 5px 5px;
    width: 33%;
    height: 72px;
    /*the parent must use this rule of position relative if children using position absolute*/
    position: relative;

    @mixin atSmall{
      width: 72px;
      margin: 0 5px;
    }

    .icon{
      /*this makes our sprite icons to show up*/
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%)
    }
  }
}